<po-info p-label="Ajuda e Sobre o Projeto" p-value=""></po-info>

<p>Bem-vindo à página de ajuda do Cadastro de Grupo de Produtos!</p>
<p>Essa funcionalidade foi desenvolvida como parte do sistema de Cadastro de Grupo de Produtos.</p>
<p>Nela, é possível cadastrar, editar e visualizar grupos de produtos de forma simples e eficiente.</p>
<p>Esperamos que essa solução seja útil e contribua para a melhoria dos processos.</p>
<p>Em caso de dúvidas, entre em contato.</p>

<div style="margin-top: 3em;"></div>
<p>Desenvolvido por Rodrigo Soledade</p>
<br>
<p>E-mail:
    <po-link p-label="rodrigosde@gmail.com" p-url="mailto:rodrigosde@gmail.com" p-open-new-tab="true"></po-link>
</p>
<p> Rede Social:
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <a href="https://www.linkedin.com/in/rodrigo-soledade1/" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin" style="font-size: 30px; color: #0A66C2; padding-left: 0.5%;"></i>
    </a>
</p>