/* centraliza o formulário */
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

/* definindo as exibições dos botões lado a lado */
.button-row {
    display: table-cell;
    max-width: 600px;
}

/* definindo espaço entre os botões */
button {
    margin-right: 10px;
}

/* configurando a linha divisória */
.mat-divider {
    padding: 5px;
    width: 100px;
}